$defaultTableFontColor: rgba(35, 45, 66, 1);
$fontColorDark: rgba(0, 0, 0, 1);
$fontColorLight: rgba(138, 146, 166, 1);
$checkedColor: rgba(58, 87, 232, 1);
$attentionColor: rgba(192, 50, 33, 1);
$acceptColor: rgba(8, 177, 186, 1);
$backgroundColor: #E9ECEF;